{% extends "header.html" %}

{% block content %}

	<img src="{{drink.zdjecie.url}}" class="drink-zdjecie-tt">
	<p>{{drink.nazwa}}</p>
	<section class="drink-sklad-tt">
		<h2>Składniki:</h2>
	<p >{{drink.skladnik1}}</p>
	<p >{{drink.skladnik2}}</p>
	<p >{{drink.skladnik3}}</p>
	<p >{{drink.skladnik4}}</p>
	<p >{{drink.skladnik5}}</p>
	<p >{{drink.skladnik6}}</p>
	<h2>Sposób przyrządzania</h2>
	<p>{{drink.opis}}</p>
	</section>	
<div class="commentsection">


{% if user.is_authenticated %}
	{% for comment in drink.comments.all %}
		<b class="drink-b-tt">{{ comment.author }} napisał:</b><br />
	<div class="drink-coment-tt">
		{{ comment.text }}<br /><br />
	</div>
	{% endfor %}



    <form action="new/" method="POST" class="form-group">
    {% csrf_token %}
        <input type="number" name="news" value="{{drink.id}}" class="hiddeninput">
		<textarea name="text" cols="x" rows="y" class="form-control drink-form-tt" placeholder="Wpisz komentarz" ></textarea>
		<br>
		<input type="submit" value="Wyslij" class="btn btn-success">
	</form>

</div>
{% else %}
<p>Komentarze tylko dla zalogowanych</p>
{% endif %}

{% endblock %}